html, body{
    font-family: Arial;
    margin: 0px;
}
.navbar{
    display: flex;
    flex-direction: column;
}
.product-list-item{
    display: flex;
    flex-direction: row;
    padding-top: 1vh;
    padding-bottom: 1vh;
}
.product-list-detail{
    padding-left: 2vw;
}

.ui-dataview-header{
    display: none;
}
.ui-dataview-row{
    padding-left: 10vw;
}
.navbar > :nth-child(1){
    margin-top: 3vh;
    margin-bottom: 3vh;
    display: flex;
    align-items: center;
    height: 70%;
}

.titreSection{
    margin-top: 3vh;
    margin-left: 10vw
}

.divNews{
    padding-left: 10vw;
    padding-right: 10vw;
    display: grid;
    grid-template-columns: 38vw 38vw;
    justify-content: space-between
}

.news{
    height: 30vh;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    display: flex;
    justify-content: flex-end;
    position: relative;
    overflow: hidden
}

.newsImage{
    width: 40%;
    background-image: url('https://www.andernoslesbains.fr/medias/2020/11/mediatheque-1-2-scaled.jpg');
    background-size: cover
}

.newsContent{
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.newsContent > h1{
    background-color: #506d90;
    text-align: center;
    width: 100%;
}

.newsContent > p{
    margin-left: 2vw;
    margin-right: 2vw;
}

.divCarousel{
    padding: 5vw 10vw 0 10vw;
}

.backgroundImage{
    display: flex;
    justify-content: center;
    height: 50vh;
    background-image: url("https://as2.ftcdn.net/v2/jpg/02/64/75/01/1000_F_264750103_j3pG3e64zgaDj8iaDhbVvSEXyxEUctpB.jpg");
    background-position: center;
    background-size: cover;
}

a>span{
    color: black;
}

#footer{
    height: 25vh;
    background-color: #506d90;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}
.ui-breadcrumb{
    background-color: #506d90 !important;
    border-radius: 0 !important;
}

a.ui-icon-home{
    color: white !important;
}

li:not(.ui-breadcrumb-chevron):before{
    color: white !important;
}

.ui-menuitem-text{
    color: white !important;
}

.ui-panelgrid.showcase-text-align-center .ui-grid-responsive .ui-panelgrid-cell {
    text-align: center;
}

.customPanelGrid .ui-panelgrid-content {
    align-items: center;
}

.ui-carousel-container{
    height: 50vh;
}

.ui-carousel-indicators{
    margin-top: 2vw;
    padding: 0 !important;
    visibility: hidden !important;
}

.ui-carousel-item-active{
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.ui-carousel-item-start{
    transform: scale(1) !important;
    filter: blur(1px);
}

.ui-carousel-item-end{
    transform: scale(1) !important;
    filter: blur(1px);
}

.avis {
    border: 1px solid cornflowerblue;
    margin:20px;
    padding: 10px;
    border-radius: 10px;
    width: 30%;
}

form {
    margin-left: 30px;
}
